<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>



<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Wonderful!</h1>
            <p class="lead">You've successfully registered for Cryptant<a/> and its newsletter!</p>
            <p>From now on, please interact with the virtual assistant: +1 (226) 917-7234 via SMS. You will also receive automatic updates on all future versions of this project.</p>
            <p id="myNumber"> Please use the following code: <%= myNumber %> to activate your phone number!</p>
            <img class="mb-4" src="images/thankyou.gif" alt="" height="400" width="400">
        </div>
    </div>
</body>

</html>
